<div class='panel panel-primary'>
    <div class="panel-body">

        <div class="table-responsive">
            <table class="table" *ngIf='recipes && recipes.length'>
                <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Stars</th>
                    </tr>
                </thead>
                <tr *ngFor='let recipe of filtereRecipes'>
                    <td>
                        <div class="RecipeBox" width="150px" height="120px">
                            <img class="RecipeThumbnail" [src]='recipe.imageFilename' [title]='recipe.name | uppercase' [alt]='recipe.name' [style.margin.px]='imageMargin'>
                        </div>
                    </td>
                    <td>
                        <a [href]='recipe.filename'>
                            {{recipe.name}}
                        </a>
                    </td>
                    <td>
                        {{recipe.stars}}
                    </td>
                </tr>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>