<div class='panel panel-primary'>
    <div class="panel-body">

        <div class="table-responsive">
            <table class="table" *ngIf='recipes && recipes.length'>
                <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Name</th>
                        <th>Stars</th>
                    </tr>
                </thead>
                <tbody>
                    <pm-tdrecipe *ngFor="let recipe of filteredRecipes" [myRecipe]="recipe"></pm-tdrecipe>
                </tbody>
            </table>
        </div>
    </div>
</div>