.RecipeBox {
    align-items:center;
    width: 200px;
    height: 130px;
}

.RecipeThumbnail {
    min-width:100%;
    max-width:100%;
    min-height:100%;
    max-height:100%;
    object-fit: cover;
}

thead {color: #337AB7;}