<p>
    <a href="http://richieigenmann.users.sourceforge.net/Rcp014.htm">Kartoffelsalat</a><br>
    <a href="http://richieigenmann.users.sourceforge.net/Rcp396.htm">Teigwaren-Poulet-Salat mit Pesto Vinaigrette</a><br>
    <a href="http://richieigenmann.users.sourceforge.net/Rcp341.htm">Kalbsvoressen Salvia</a><br>
    <a href="http://richieigenmann.users.sourceforge.net/Rcp137.htm">Lasagne</a><br>
    <a href="http://richieigenmann.users.sourceforge.net/Rcp376.htm">Kartoffelgratin</a><br>
    <a href="http://richieigenmann.users.sourceforge.net/Rcp184.htm">Warme Schokolade-K&uuml;chlein</a><br>
    <a href="http://richieigenmann.users.sourceforge.net/Rcp281.htm">Tirolercake</a><br>
    <a href="http://richieigenmann.users.sourceforge.net/Rcp223.htm">Aargauer R&uuml;blitorte</a><br>
</p>
